pellon.nr
[{"id":"e1696afb.38284","type":"Seeed-Moisture","z":"165740b.09952bf","name":"Moisture","analogPin":"1","interval":"100","x":185.5,"y":203,"wires":[["77ec4fbb.e0aff","d7be6191.9fb01"]]},{"id":"d7be6191.9fb01","type":"ui_gauge","z":"165740b.09952bf","name":"","group":"5fe80b11.4d05ec","order":0,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":223.5,"y":375,"wires":[]},{"id":"bc37b8c3.bd0f9","type":"inject","z":"165740b.09952bf","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"x":82.5,"y":124,"wires":[["e1696afb.38284"]]},{"id":"77ec4fbb.e0aff","type":"function","z":"165740b.09952bf","name":"","func":"msg.payload = msg.payload * 1\nif (msg.payload < 20) msg.payload = 0;\nif (msg.payload > 21) msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":337.5,"y":287,"wires":[["6dbe91d9.33ecd8"]]},{"id":"6dbe91d9.33ecd8","type":"Seeed-Relay","z":"165740b.09952bf","name":"Relay","digitalPin":"2","x":424.5,"y":179,"wires":[]},{"id":"5fe80b11.4d05ec","type":"ui_group","z":"","name":"Default","tab":"87e1ce68.740148","disp":true,"width":"6"},{"id":"87e1ce68.740148","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]
